@import '../../style/variables.styl'
.header
  height: 48px
  background-color: $primary
  display: flex
  .left
    background-color: $secondary
    display: flex
    height: 100%
    .logo
      max-height: 100%
      align-self: center
      margin-left: 10px
    .title
      align-self: center
      color: #FFF
      margin: 0 20px
  .right
    display: flex
    flex-grow: 1
    flex-direction: column
    
